<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="university" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level: %logger{36} - %msg%n"/>
        </Console>

        <File name="fout" fileName="university.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %logger{36} %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="fout"/>
        </Root>
    </Loggers>
</Configuration>